.enmarcar {

    margin-top: 20px;
    width: 600px;
    padding: 20px;
    border: dotted 1px rgb(105, 105, 235);
    border-radius: 10%;

}

legend{

    text-align: center;

}

#formulario2{

    height: 350px;
    
}

.colorRed{
    color: red;
}


